.redes {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;

    .rede-descritivo {
        p:first-of-type {
            font-weight: 200;
        }

        p {
            color: #fff;
            font-size: 50px;
            text-align: center;
            line-height: 50px;
            font-weight: bold;
        }
    }

    .rede-box {
        .rede-social {
            margin: 0 20px;

            img {
                width: 150px;
                margin: 0 30px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .redes {
        width: 100%;
    }
}

@media (max-width: 1180px) {
    .redes {
        flex-direction: column;

        .rede-box {
            margin-top: 60px;
        }
    }
}

@media (max-width: 690px) {
    .redes {
        flex-direction: column;
        padding: 40px 0;

        .rede-box {
            
            .rede-social {
                display: flex;
                flex-direction: column;
                
                img {
                    margin: 10px 0;
                }
            }
        }
    }
}